/* .html{
  background-color: rgba(19, 184, 205, .5); ;
} */

body {
  margin: 20px;
}

.tablePage{
  float: right;
}

#boundary {
  border: 1px solid black;

}
.formRadio{
  display: inline-block;
  margin-right: 10px; 
}

.App-link {
  color: #61dafb;
}

.bg_gray {
  background-color: #ebeef3;
}
